@import url('https://fonts.googleapis.com/css2?family=family=Itim&display=swap');

.filter-name{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Itim', cursive;
  margin-top: 0.3em;
}

.select-container{
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  
}
/*border: 3px solid green;*/
.select{
  background-color: #fefffd;
  min-width: 60%;
  font-family: 'Itim', cursive;
}